@model IEnumerable<Single_Capstone.Models.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalInventoryWorth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitMargin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GMROI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <span>$</span>
        @Html.DisplayFor(modelItem => item.TotalInventoryWorth)
    </td>
    <td>
        <span>$</span>
        @Html.DisplayFor(modelItem => item.ProfitMargin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GetDate)
    </td>
    <td>
        <span>$</span>
        @Html.DisplayFor(modelItem => item.GMROI)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Inventory Details", "SelectedInventoryDetails", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
        @Html.ActionLink("Add Product", "Create", "Product", new { id = item.Id }, null) |
        @Html.ActionLink("Future Recommendations", "FindLastYearsInventory", new { id = item.Id }) |
        @Html.ActionLink("Chart Of Product And Price", "HistoricalAmountAndPriceChart", "Chart", new { id = item.Id }, null) |
        @Html.ActionLink("See What Was Hott!", "HistoricalDataWhatSoldTheMostDuringInventory", "Chart", new { id = item.Id }, null) |
    </td>
</tr>
}

</table>
