@model IEnumerable<Single_Capstone.Models.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalInventoryWorth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitMargin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <span>$</span>
            @Html.DisplayFor(modelItem => item.TotalInventoryWorth)
        </td>
        <td>
            <span>$</span>
            @Html.DisplayFor(modelItem => item.ProfitMargin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "SelectedInventoryDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
