@model IEnumerable<Single_Capstone.Models.InventoryProducts>

@{
    ViewBag.Title = "SelectedInventoryDetails";
}

<h2>SelectedInventoryDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalValueOfProducts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitToBeMadePerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GMROI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Units)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GetDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        <span>$</span>
        @Html.DisplayFor(modelItem => item.TotalValueOfProducts)
    </td>
    <td>
        <span>$</span>
        @Html.DisplayFor(modelItem => item.ProfitToBeMadePerUnit)
    </td>
    <td>
        <span>$</span>
        @Html.DisplayFor(modelItem => item.GMROI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParLevel)
    </td>
    <td>
        @Html.ActionLink("Take Count", "Edit", "InventoryProduct", new { id = item.Id }, null) |
        @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
    </td>
</tr>
}

</table>
