@model IEnumerable<Single_Capstone.Models.InventoryProducts>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Units)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GetDate)
    </td>
    <td>
        @Html.ActionLink("Add Units", "AddInventory", new { id = item.Id }) |
    </td>
    <td>
        @Html.ActionLink("View Data", "PastHistoricalDataForSpecificProduct", "Chart", new { id = item.Id }, null) |
    </td>
</tr>
}

</table>
